body {
    background: #77a573;
    margin: 0;
    padding: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
}

.gallery {
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 150px;
  gap: 10px;
  max-width: 1000px;
  margin: auto;
}

.img1 {
  grid-column: 1;
  grid-row: 1;
}


