body {
    background: #77a573;
    margin: 0;
    padding: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
}

.gallery {
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
  max-width: 1000px;
  margin: auto;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.top-left {
  grid-column: 1;
  grid-row: 1;
}

.big-top {
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}

.mid-left {
  grid-column: 1;
  grid-row: 2 / span 2;
}

.blank {
  grid-column: 2 / span 2;
  grid-row: 3;
  background: #ddd;
  border-color: #000
}

.tall-right {
  grid-column: 4;
  grid-row: 3 / span 2;
}

.bottom-wide {
  grid-column: 1 / span 3;
  grid-row: 4;
}







